// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

// Variables
$primary-font: "Montserrat", sans-serif;

.Services {
  display: grid;
  align-items: flex-start;
  grid-template-rows: 10% auto;
  padding: 20px 40px;
  font-family: $primary-font;
  font-size: 2rem;

  .heading {
    border-bottom: 1px solid navy;
    text-transform: uppercase;
    font-weight: 100;
    margin: 20px auto;
  }


}
